@model LendingLibrary.Models.LendingItemModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="success">
        @ViewBag.Message
    </div>
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(m => m.ItemName)
            @Html.TextBoxFor(m => m.ItemName)
        </p>
        <p>
            @Html.LabelFor(m => m.ItemDescription)
            @Html.TextBoxFor(m => m.ItemDescription)
        </p>
        

        <p>
            <input type="submit" value="Add me!" />
        </p>
    }

</div>