@model LendingLibrary.Models.LendingModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="success">
        @ViewBag.Message
    </div>
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(m => m.ItemDescription)
            @Html.TextBoxFor(m => m.ItemDescription)
        </p>
        <p>
            @Html.LabelFor(m => m.BorrowerName)
            @Html.TextBoxFor(m => m.BorrowerName)
        </p>

        <p>
            <input type="submit" value="Lend me!"/>
        </p>
    }

</div>